# Query SAP table and join with local data

A first example demonstrates how to join two SAP tables with an external table. We’ll be using the [ABAP Flight Reference Scenario](https://help.sap.com/docs/ABAP_PLATFORM_NEW/fc4c71aa50014fd1b43721701471913d/a9d7c7c140a0408dbc5966c52d156b49.html), specifically joining the `SFLIGHT` and `SPFLI` tables which contain flight and flight schedule details respectively, with an external table `WEATHER` that holds weather information. We will extract flight information and associated temperatures at departure and arrival cities.

## Import DuckDB & load **ERPL** extension
In the next cells we import duckdb. Then we install the ERPL extension and load it into the current DB-session. Via multiple SET-commands we configure the connection to our SAP development system. In our case we use the docker based [ABAP Platform Trial](https://hub.docker.com/r/sapse/abap-platform-trial). The credentials are set by default, details can be found in the documentation of the docker image.

In [1]:
library("DBI")
con = dbConnect(duckdb::duckdb(dbdir = ":memory:", config = list(allow_unsigned_extensions="true")))

In [2]:
sql = "
INSTALL 'erpl.duckdb_extension';
LOAD 'erpl';

SET sap_ashost = 'localhost';
SET sap_sysnr = '00';
SET sap_user = 'DEVELOPER';
SET sap_password = 'Htods70334';
SET sap_client = '001';
SET sap_lang = 'EN';
"
sql

dbExecute(con, sql)

[1] "\nINSTALL 'erpl.duckdb_extension';\nLOAD 'erpl';\n\nSET sap_ashost = 'localhost';\nSET sap_sysnr = '00';\nSET sap_user = 'DEVELOPER';\nSET sap_password = 'Htods70334';\nSET sap_client = '001';\nSET sap_lang = 'EN';\n"

[1] 0

If the loading of the extension was successful, we can find the exportet functions in the list of `duckdb_functions()`

In [3]:
dbGetQuery(con, "SELECT * FROM duckdb_functions() WHERE function_name LIKE '%sap%';")

   database_name schema_name function_name
1  system        main        sap_rfc_search_group
2  system        main        sap_rfc_invoke
3  system        main        sap_read_table
4  system        main        sap_describe_fields
5  system        main        sap_show_tables
6  system        main        sap_rfc_search_function
7  system        main        sap_rfc_ping
8  system        main        sap_rfc_function_desc
9  system        main        sap_rfc_set_trace_level
10 system        main        sap_rfc_set_trace_dir
11 system        main        sap_rfc_set_maximum_trace_file_size
12 system        main        sap_rfc_set_maximum_stored_trace_files
13 system        main        sap_rfc_set_ini_path
14 system        main        sap_rfc_reload_ini_file
   function_type description return_type
1  table         NA          NA
2  table         NA          NA
3  table         NA          NA
4  table         NA          NA
5  table         NA          NA
6  table         NA          NA
7  pragma        NA          NA
8  pragma        NA          NA
9  pragma        NA          NA
10 pragma        NA          NA
11 pragma        NA          NA
12 pragma        NA          NA
13 pragma        NA          NA
14 pragma        NA          NA
   parameters
1  LANGUAGE , GROUPNAME
2  col0, path
3  col0    , MAX_ROWS, FILTER  , COLUMNS , THREADS
4  col0
5  THREADS  , TEXT     , TABLENAME
6  LANGUAGE , GROUPNAME, FUNCNAME
7
8  col0
9  col0
10 col0
11 col0, col1
12 col0
13 col0
14
   parameter_types                                       varargs
1  VARCHAR, VARCHAR                                      NA
2  VARCHAR, VARCHAR                                      ANY
3  VARCHAR  , UINTEGER , VARCHAR  , VARCHAR[], UINTEGER  NA
4  VARCHAR                                               NA
5  UINTEGER, VARCHAR , VARCHAR                           NA
6  VARCHAR, VARCHAR, VARCHAR                             NA
7                                                        NA
8  VARCHAR                                               NA
9  INTEGER                                               NA
10 VARCHAR                                               NA
11 INTEGER       , ENUM('M', 'G')                        NA
12 INTEGER                                               NA
13 VARCHAR                                               NA
14                                                       NA
   macro_definition has_side_effects internal function_oid example
1  NA               NA               TRUE     1021         NA
2  NA               NA               TRUE     1019         NA
3  NA               NA               TRUE     1029         NA
4  NA               NA               TRUE     1027         NA
5  NA               NA               TRUE     1025         NA
6  NA               NA               TRUE     1023         NA
7  NA               NA               TRUE     1017         NA
8  NA               NA               TRUE     1031         NA
9  NA               NA               TRUE     1033         NA
10 NA               NA               TRUE     1035         NA
11 NA               NA               TRUE     1037         NA
12 NA               NA               TRUE     1039         NA
13 NA               NA               TRUE     1041         NA
14 NA               NA               TRUE     1043         NA

## Explore the schema of the relevant tables

The ERPL extension provides the method `sap_describe_fields` to explore the data dictionary schema of the respective table. For exploring local data we also can use the `DESCRIBE` command to get the fields of e.g. a CSV-file.

In [4]:
dbGetQuery(con, "SELECT * FROM sap_describe_fields('SFLIGHT');")

   pos  is_key field      text                               sap_type length
1  0001 X      MANDT      Client                             CLNT     000003
2  0002 X      CARRID     Airline Code                       CHAR     000003
3  0003 X      CONNID     Flight Connection Number           NUMC     000004
4  0004 X      FLDATE     Flight date                        DATS     000008
5  0005        PRICE      Airfare                            CURR     000015
6  0006        CURRENCY   Local currency of airline          CUKY     000005
7  0007        PLANETYPE  Aircraft Type                      CHAR     000010
8  0008        SEATSMAX   Maximum Capacity in Economy Class  INT4     000010
9  0009        SEATSOCC   Occupied Seats in Economy Class    INT4     000010
10 0010        PAYMENTSUM Total of current bookings          CURR     000017
11 0011        SEATSMAX_B Maximum Capacity in Business Class INT4     000010
12 0012        SEATSOCC_B Occupied Seats in Business Class   INT4     000010
13 0013        SEATSMAX_F Maximum Capacity in First Class    INT4     000010
14 0014        SEATSOCC_F Occupied Seats in First Class      INT4     000010
   decimals check_table ref_table ref_field language
1  000000   T000                            E
2  000000   SCARR                           E
3  000000   SPFLI                           E
4  000000                                   E
5  000002               SFLIGHT   CURRENCY  E
6  000000   SCURX                           E
7  000000   SAPLANE                         E
8  000000                                   E
9  000000                                   E
10 000002               SFLIGHT   CURRENCY  E
11 000000                                   E
12 000000                                   E
13 000000                                   E
14 000000                                   E

In [5]:
dbGetQuery(con, "SELECT * FROM sap_describe_fields('SPFLI');")

   pos  is_key field     text                               sap_type length
1  0001 X      MANDT     Client                             CLNT     000003
2  0002 X      CARRID    Airline Code                       CHAR     000003
3  0003 X      CONNID    Flight Connection Number           NUMC     000004
4  0004        COUNTRYFR Country Key                        CHAR     000003
5  0005        CITYFROM  Departure city                     CHAR     000020
6  0006        AIRPFROM  Departure airport                  CHAR     000003
7  0007        COUNTRYTO Country Key                        CHAR     000003
8  0008        CITYTO    Arrival city                       CHAR     000020
9  0009        AIRPTO    Destination airport                CHAR     000003
10 0010        FLTIME    Flight time                        INT4     000010
11 0011        DEPTIME   Departure time                     TIMS     000006
12 0012        ARRTIME   Arrival time                       TIMS     000006
13 0013        DISTANCE  Distance                           QUAN     000009
14 0014        DISTID    Mass unit of distance (kms, miles) UNIT     000003
15 0015        FLTYPE    Flight type                        CHAR     000001
16 0016        PERIOD    Arrival n day(s) later             INT1     000003
   decimals check_table ref_table ref_field language
1  000000   T000                            E
2  000000   SCARR                           E
3  000000                                   E
4  000000   SGEOCITY                        E
5  000000   SGEOCITY                        E
6  000000   SAIRPORT                        E
7  000000   SGEOCITY                        E
8  000000   SGEOCITY                        E
9  000000   SAIRPORT                        E
10 000000                                   E
11 000000                                   E
12 000000                                   E
13 000004               SPFLI     DISTID    E
14 000000                                   E
15 000000                                   E
16 000000                                   E

In [6]:
dbGetQuery(con, "DESCRIBE SELECT * FROM 'WEATHER.csv';")

Warning message in duckdb_post_execute(res, out):
“NAs introduced by coercion”

  column_name column_type null key default extra
1 FLDATE      DATE        YES  NA  NA      NA
2 COUNTRY     VARCHAR     YES  NA  NA      NA
3 CITY        VARCHAR     YES  NA  NA      NA
4 TEMPERATURE DOUBLE      YES  NA  NA      NA
5 CONDITION   VARCHAR     YES  NA  NA      NA

## Actual query

The actual SQL query joins the three tables and performs the following operations:
- Retrieves flight details from `SFLIGHT` using ERPL's `sap_read_table`, aliasing it as `f`.
- Again using ERPL's `sap_read_table` we join `SPFLI` (aliased as `s`) on `MANDT`, `CARRID`, and `CONNID` to get the flight's city of origin and destination.
- Incorporates two instances of an external weather data CSV file, `w_from` and `w_to`, matching on flight date and respective cities' country and name for departure and arrival.
- Rounds the temperature data to one decimal place for readability.
- Orders the results by `CARRIER_ID`, `CONNECTION_ID`, and `FLIGHT_DATE`.
- Limits the output to the first 25 rows for a concise view.

The output of this query will provide a comprehensive view of the flights, including their departure and arrival cities, and the corresponding temperatures, thus offering valuable insights for flight operations analysis.

In [7]:
sql = "
SELECT 
  f.CARRID,
  f.CONNID,
  f.FLDATE,
  s.CITYFROM as CITY_FROM,
  ROUND(w_from.TEMPERATURE, 1) as TEMP_FROM,
  s.CITYTO as CITY_TO,
  ROUND(w_to.TEMPERATURE, 1) as TEMP_TO,
  FROM sap_read_table('SFLIGHT') AS f
  JOIN sap_read_table('SPFLI') AS s 
      ON (f.MANDT = s.MANDT AND f.CARRID = s.CARRID AND f.CONNID = s.CONNID)
  JOIN 'WEATHER.csv' AS w_from
      ON (f.FLDATE = w_from.FLDATE AND s.COUNTRYFR = w_from.COUNTRY AND s.CITYFROM = w_from.CITY)
  JOIN 'WEATHER.csv' AS w_to
      ON (f.FLDATE = w_to.FLDATE AND s.COUNTRYTO = w_to.COUNTRY AND s.CITYTO = w_to.CITY)
  ORDER BY 1, 2, 3
  LIMIT 25
"
sql

dbGetQuery(con, sql)

[1] "\nSELECT \n  f.CARRID,\n  f.CONNID,\n  f.FLDATE,\n  s.CITYFROM as CITY_FROM,\n  ROUND(w_from.TEMPERATURE, 1) as TEMP_FROM,\n  s.CITYTO as CITY_TO,\n  ROUND(w_to.TEMPERATURE, 1) as TEMP_TO,\n  FROM sap_read_table('SFLIGHT') AS f\n  JOIN sap_read_table('SPFLI') AS s \n      ON (f.MANDT = s.MANDT AND f.CARRID = s.CARRID AND f.CONNID = s.CONNID)\n  JOIN 'WEATHER.csv' AS w_from\n      ON (f.FLDATE = w_from.FLDATE AND s.COUNTRYFR = w_from.COUNTRY AND s.CITYFROM = w_from.CITY)\n  JOIN 'WEATHER.csv' AS w_to\n      ON (f.FLDATE = w_to.FLDATE AND s.COUNTRYTO = w_to.COUNTRY AND s.CITYTO = w_to.CITY)\n  ORDER BY 1, 2, 3\n  LIMIT 25\n"

   CARRID CONNID FLDATE     CITY_FROM TEMP_FROM CITY_TO       TEMP_TO
1  AA     0017   2016-11-15 NEW YORK  28.3      SAN FRANCISCO 19.8
2  AA     0017   2017-02-03 NEW YORK  18.9      SAN FRANCISCO 17.2
3  AA     0017   2017-04-24 NEW YORK  14.7      SAN FRANCISCO 16.2
4  AA     0017   2017-07-13 NEW YORK  16.8      SAN FRANCISCO 22.5
5  AA     0017   2017-10-01 NEW YORK  14.6      SAN FRANCISCO 28.3
6  AA     0017   2017-12-20 NEW YORK  13.0      SAN FRANCISCO 21.4
7  AZ     0555   2016-11-15 ROME      20.6      FRANKFURT     24.2
8  AZ     0555   2017-02-03 ROME      13.1      FRANKFURT     24.1
9  AZ     0555   2017-04-24 ROME      20.7      FRANKFURT     24.6
10 AZ     0555   2017-07-13 ROME      14.0      FRANKFURT     16.3
11 AZ     0555   2017-10-01 ROME      20.9      FRANKFURT     15.3
12 AZ     0555   2017-12-20 ROME      23.8      FRANKFURT     24.7
13 AZ     0789   2016-11-15 TOKYO     29.7      ROME          20.6
14 AZ     0789   2017-02-03 TOKYO     23.4      ROME          13.1
15 AZ     0789   2017-04-24 TOKYO     28.5      ROME          20.7
16 AZ     0789   2017-07-13 TOKYO     19.4      ROME          14.0
17 AZ     0789   2017-10-01 TOKYO     19.8      ROME          20.9
18 AZ     0789   2017-12-20 TOKYO     15.6      ROME          23.8
19 DL     0106   2016-11-13 NEW YORK   9.1      FRANKFURT     13.8
20 DL     0106   2017-02-01 NEW YORK  24.3      FRANKFURT     23.9
21 DL     0106   2017-04-22 NEW YORK  15.8      FRANKFURT     23.5
22 DL     0106   2017-07-11 NEW YORK  20.7      FRANKFURT     30.6
23 DL     0106   2017-09-29 NEW YORK  16.3      FRANKFURT     19.1
24 DL     0106   2017-12-18 NEW YORK  14.4      FRANKFURT     21.8
25 JL     0407   2016-11-17 TOKYO     20.3      FRANKFURT     20.4