In [3]:
from sqlalchemy import create_engine

%load_ext sql
engine = create_engine('duckdb:///:memory:', connect_args={'config': { 'allow_unsigned_extensions': 'true' }})
%sql engine

In [3]:
%%sql
INSTALL '../build/release/extension/erpel/erpel.duckdb_extension';
LOAD '../build/release/extension/erpel/erpel.duckdb_extension';

SET sap_ashost TO 'vhcalnplci';
SET sap_sysnr='00';
SET sap_user='DEVELOPER';
SET sap_password='Bym38tpl';
SET sap_client='001';
SET sap_lang='EN';

Running query in 'duckdb:///:memory:'

+---------+
| Success |
+---------+
+---------+

In [5]:
%%sql

SELECT 
    VBELN AS SalesDocumentNumber, 
    ERDAT AS CreationDate, 
    AUART AS SalesDocumentType, 
    KUNNR AS CustomerNumber, 
    BSTNK AS CustomerPurchaseOrderNumber, 
    NETWR AS NetValueInDocumentCurrency, 
    WAERK AS DocumentCurrency 
FROM 
    sql_read_table('VBAK')
WHERE 
    WAERK = 'USD'
LIMIT 100;

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

SalesDocumentNumber	CreationDate	SalesDocumentType	CustomerNumber	CustomerPurchaseOrderNumber	NetValueInDocumentCurrency	DocumentCurrency
50000123	2023-07-01	OR	1000	123456	1000.00	USD
50000124	2023-07-02	ZR	1001	123457	2000.00	USD
50000125	2023-07-03	ZR	1002	123458	3000.00	EUR
50000126	2023-07-04	OR	1003	123459	4000.00	EUR

| SalesDocumentNumber | CreationDate | SalesDocumentType | CustomerNumber | CustomerPurchaseOrderNumber | NetValueInDocumentCurrency | DocumentCurrency |
|---------------------|--------------|-------------------|----------------|-----------------------------|-----------------------------|------------------|
| 50000123            | 2023-07-01   | OR                | 1000           | 123456                      | 1000.00                     | USD              |
| 50000124            | 2023-07-02   | ZR                | 1001           | 123457                      | 2000.00                     | USD              |
| 50000127            | 2023-07-05   | OR                | 1002           | 123460                      | 1500.00                     | USD              |
| 50000128            | 2023-07-06   | ZR                | 1003           | 123461                      | 2500.00                     | USD              |
| 50000129            | 2023-07-07   | OR                | 1004           | 123462                      | 3000.00                     | USD              |
| 50000130            | 2023-07-08   | ZR                | 1005           | 123463                      | 3500.00                     | USD              |
| 50000131            | 2023-07-09   | OR                | 1006           | 123464                      | 4000.00                     | USD              |
| 50000132            | 2023-07-10   | ZR                | 1007           | 123465                      | 4500.00                     | USD              |
| 50000133            | 2023-07-11   | OR                | 1008           | 123466                      | 5000.00                     | USD              |
| 50000134            | 2023-07-12   | ZR                | 1009           | 123467                      | 5500.00                     | USD              |
| 50000135            | 2023-07-13   | OR                | 1010           | 123468                      | 6000.00                     | USD              |
| 50000136            | 2023-07-14   | ZR                | 1011           | 123469                      | 6500.00                     | USD              |
| 50000137            | 2023-07-15   | OR                | 1012           | 123470                      | 7000.00                     | USD              |
| 50000138            | 2023-07-16   | ZR                | 1013           | 123471                      | 7500.00                     | USD              |

In [ ]:
%%sql

SELECT * FROM sap_read_table('VBAK', rowskips=0, rowcount=100, 
                             fields=['VBELN', 'ERDAT', 'AUART', 'KUNNR', 'BSTNK', 'NETWR', 'WAERK'],
                             options=['WAERK = ''USD'''])